header{
	margin: auto;
	max-width: 1440px;
	@include shadow;
}

.header_index {
	height: 70px;
	padding: 30px 0;
}
.header__logo {
	max-width: 45%;
	display: flex;
    margin: 0 auto;
}

.header_menu {
	padding: 10px 0;
	display: flex;
	align-items: flex-end;
	justify-content: space-evenly;
	a{
		display: block;
		padding-left: 15px;
	}
	i{
		color: rgb(44, 44, 44);
		font-size: 20px;
	}
}

@media screen and (max-width:1440px) and (min-width:426px){
	.header_index {
		padding: 15px 0;
	}

	.header_menu i{
		font-size: 25px;
	}

	.header__logo {
		max-width: 220px;
		margin: 6px auto;
		}
}
