
// Media pour le responsive du header

@media screen and (min-width:426px){
	.header_index {
		padding: 15px 0;
	}

	.header_menu i{
		font-size: 25px;
	}

	.header__logo {
		max-width: 220px;
		margin: 6px auto;
	}
}

@media screen and (max-width:320px){
    .topform form{
        margin-left:55px;
    }
}
// fin du media pour le header






// media pour le responsive du footer

// Position du footer pour les formats Tablette et Desktop

@media screen and (min-width:426px){
    .footer_title{
        font-size: 25px;
        text-align: center;
    }

    .footer_info {
        align-items: center;
        a {
         width: 100%;    
        }
    }    
}

// fin du media pour le footer








// Media pour le responsive du main de l'index


// Format Tablette !!!!!!!!

@media screen and (min-width:426px) and (max-width:1024px){

    .fonction__card {
        width: 70%;
        padding: 0;
        margin: auto;
        text-align: center;
    }
}



// Format Desktop !!!!!!!

@media screen and (min-width:1025px) {
    
    .fonction__card{
        display: flex;
        margin: 10px auto;
        li{
            margin: 0 25px;
        }
    }
    
}

@media screen and (min-width:769px){

    .restaurant{
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .card{
            width: 40%;
        }      
    } 

    .container_card{
        padding:20px;

    }
}

// Fin du media main de l'index







// Media pour le responsive du main des menus

// Format tablette !!!!!!!!!

@media screen and (min-width:769px) and (max-width:1439px){
    
    .container-menu_card{
        width: 80%;
        margin: 20px auto;
    }
    
}


// format desktop !!!!!!!!!!!
@media screen and (min-width:1440px){
    .container-bloc{
        width: 75%;
        margin: auto;
        width: 100%;
        display: flex;
        justify-content: space-around;
        
    }

    .container-menu_title{
        justify-content: space-evenly;
        h1{
            font-size: 30px;
        }
    }
}


// fin du media du main des menus





