/*Balise universel*/

* {
	box-sizing: border-box;
	margin: 0;
}

a{
	text-decoration: none;
}

html, body {
	font-size: 17px;
	font-family: 'Roboto', sans-serif, Arial;
}

main {
	margin-top: 3px;
}

h1{
	font-family: 'Shrikhand', cursive;
}