* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-size: 17px;
	font-family: 'Roboto', Arial, sans-serif;
}
html {
	margin: 0;
	font-size: 17px;
	font-family: 'Roboto';
}
main {
	max-width: 425px;
	margin-top: 5px;
}