/*Balise universel*/
@import '../Utils/variables';

* {
	box-sizing: border-box;
	margin: 0;
}

a{
	text-decoration: none;
}

html, body {
	font-size: 17px;
	font-family: 'Roboto', sans-serif, Arial;
}

main {
	margin-top: 3px;
}
body{
	position: relative;
}

h1{
	font-family: 'Shrikhand', cursive;
}

.container-loader{
	position: absolute;
	background: $color-tertiaire;
	opacity: .9;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	.loader{
		position: relative;
		width: 50px;
		height: 50px;
		display: inline-block;
		}
		.loader-titre{
			margin: 0 20px;
			font-size: 50px;
			font-weight: 900;
			font-family: "Shrikhand", cursive;
		}
		.loader-quart{
			border-radius: 50px;
			border: 6px solid rgba(255, 255, 255, 0.5);
			&::after{
				content: '';
				position: absolute;
				top: -6px;
				left: -6px;
				right: -6px;
				bottom: -6px;
				border-radius: 50px;
				border: 5px solid transparent;
				border-top-color: $color-primary;
				border-bottom-color:$color-second ;
				animation: spin 1.5s alternate-reverse infinite;
			}
			
		}

}


@keyframes spin {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}

	
}



.heart{
	cursor: pointer;
    width: 12%;
    align-items: center;
    display: flex;
    font-size: 25px;
    position: relative;
    justify-content: center;
&_transparent{
    position: absolute;
    opacity: 1;
&:active{
    opacity: 0;
	}
}
}

.heart_color{
    position: absolute;
    color: red;
    opacity: 0;
    transition: .6s;
&:active{
    opacity: 1;
}
}


