    //  Loader du menu index
.container-loader{
	position: fixed;
	background: $color-tertiaire;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	animation-name: loading;
	animation-duration: .8s;
	animation-timing-function: ease-in-out;
	animation-delay: 1.2s;
	animation-fill-mode: both;
    .loader-titre{
		margin: 0 20px;
		font-size: 50px;
		font-weight: 900;
		font-family: "Shrikhand", cursive;
	}
	.loader-quart{
		position: relative;
		width: 50px;
		height: 50px;
		display: inline-block;
		border-radius: 50px;
		border: 6px solid rgba(255, 255, 255, 0.5);
		&::after{
			content: '';
			position: absolute;
			top: -6px;
			left: -6px;
			right: -6px;
			bottom: -6px;
			border-radius: 50px;
			border: 6px solid transparent;
		    border-top-color: $color-primary;
			border-bottom-color:$color-second ;
			animation: spin 2s linear infinite;
			/*nom de l'animation - duré de l'animation - le timing de la fonction - nombre de fois ou l'animation est joué*/
		}
			
	}
}

@keyframes spin {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

@keyframes loading {
	0%{
		opacity: .9;
		visibility: visible;
	}
	100%{
		opacity: 0;
		visibility: hidden;
	}
}

        
     
     /*  FORMULAIRE    */
 .topform {
    margin-top: 5px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    form {
        margin-left: 100px;
        display: flex;
        align-items: center;
        }

        label {
            font-size: 20px;
        }
        input {
            border: none;
            background-color: #eaeaea;
            font-size: 20px;
            margin-left: 15px;
            outline: none;
        }
}


         /*   MENU de nav   */
.menu-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 25px 25px;
    h2 {
    margin: 30px 0 0;
    font-size: 27px;
    text-align: center;
    }
    p {
    text-align: center;
    font-size: 18px;
    margin: 25px 0;
    }
}


       /*  Partie FONCTION  */
       .fonction {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        h2 {
            font-size: 30px;
            margin: 25px 0 10px;
        }
    }
    .fonction__card {
        margin: 0;
        width: 100%;
        text-align: center;
        span {
            color: white;
            background: $color-primary;
            border-radius: 50%;
            padding: 3px 8px;
            transform: translate(-100%, 0%);
        }
        li {
            list-style: none;
            height: 70px;
            width: 100%;
            padding: 15px;
            margin: 25px 0;
            border-radius: 18px;
            @include shadow;
            display: flex;
            align-items: center;
            &:hover {
                background-color: #f5e9f4;
                color: $color-primary;
            }
        }
        
        a {
            font-weight: bold;
            text-decoration: none;
            color: black;
            width: 100%;
            text-align: start;
            padding: 20px;
        }
    }


    
        /*   Partie central du site - Les cartes    */

.container_card {
	padding: 20px;
	h2 {
		font-size: 30px;
	}
}
.card {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 30px 0;
	width: 100%;
	height: 360px;
	border-radius: 25px;
	@include shadow;
	&:hover {
		transform: scale(1.03);
	}
    a{
        text-decoration: none;
        color: #000;
    }
}

.card-index{
        display: flex;
        justify-content: space-between;  
}

.card_img {
	border-radius: 25px 25px 0 0;
	height: 280px;
	width: 100%;
	object-fit: cover;
}
.new {
	color: green;
	position: absolute;
	right: 15px;
	top: 15px;
	padding: 6px;
	background-color: $color-tertiaire;
}
.card_title {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	font-weight: 800;
    padding: 15px 40px 3px 20px;
	i {
		transform: translate(0, 50%);
		font-weight: 100;
		font-size: x-large;
	}
}
.card_line {
	padding: 0 20px;
}



  